@charset "utf-8";
/* CSS Document */

* { margin: 0; padding: 0; }
#sidebar { width: auto; height:auto; float:none; margin-top:0px; margin-right:0px; padding:0px; position:relative; z-index:0; }
#sidebar-top { width: 132px; height:8px; float:none; background-image:url(images/right-top.png); margin-top:0px; margin-right:0px; padding:0px 4px; position:relative; z-index:99; }
#sidebar-mid { width: 132px; height:auto; float:none; background-image:url(images/right-mid.png); margin-top:0px; margin-right:0px; padding:0px 4px; position:relative; z-index:99; }
#sidebar-mid tr td { padding-bottom:1px; }
#sidebar-bottom { width: 132px; height:8px; float:none; background-image:url(images/right-bottom.png); margin-top:0px; margin-right:0px; padding:0px 4px; position:relative; z-index:99; }
