* { margin:0; padding:0; }

.newsticker-jcarousellite { width:auto; height:auto; }
.newsticker-jcarousellite ul li{ list-style:none; display:block; padding-bottom:0px; margin-bottom:5px; }
.newsticker-jcarousellite .thumbnail { float:left; width:auto; }
.newsticker-jcarousellite .info { float:left; width:auto; }
.newsticker-jcarousellite .info span.cat { display: block; font-size:10px; color:#808080; }

.clear { clear: both; }
