.sponsorListHolder{
	margin-bottom:30px;
}

.sponsor{
	width:268px;
	height:328px;
	float:left;
	margin:4px;
	
	/* Giving the sponsor div a relative positioning: */
	position:relative;
	cursor:pointer;
}
.sponsor h3{
	margin:10px 10px 0px 10px;
	padding:0px;
}
.badge{
	margin:0px 10px 0px 10px;
}
.description{
	margin:0px 10px 0px 10px;
	font-size:12px;
}

.sponsorFlip{
	/*  The sponsor div will be positioned absolutely with respect
		to its parent .sponsor div and fill it in entirely */

	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	border:1px solid #ddd;	
}

.sponsorFlip:hover{
	border:1px solid #999;
	
	/* CSS3 inset shadow: */
	-moz-box-shadow:0 0 30px #999 inset;
	-webkit-box-shadow:0 0 30px #999 inset;
	box-shadow:0 0 30px #999 inset;
}

.sponsorFlip img{
	/* Centering the logo image in the middle of the sponsorFlip div */
	margin:10px 10px 0px 10px;
	border:solid 5px #CCC;
	width:245px;
	height:145px;
}

.sponsorData{
	/* Hiding the .sponsorData div */
	display:none;
}

.sponsorDescription{
	font-size:22px;
	padding:10px 20px;
	font-style:italic;
	color:#FFF;
}

.sponsorURL{
	height:255px;
	overflow:auto;
	font-size:10px;
	font-weight:bold;
	padding:0px 20px;
	color:#FFF;
}

.clear{
	/* This class clears the floats */
	clear:both;
}


/* The styles below are only necessary for the styling of the demo page: */

#main{
	position:relative;
	margin:0 auto;
	width:auto;
}
.note{
	font-size:12px;
	font-style:italic;
	padding-bottom:20px;
	text-align:center;
}