@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: 'Century Gothic';
	src: url('fonts/GOTHIC.TTF');
}
@font-face {
	font-family: 'Century Gothic';
	src: local('☺'), url('fonts/GOTHIC.TTF') format('truetype');
}
body {
	background-color:#e7e1cc;
	background:url(img/vector-2.jpg);
	font-family:"Century Gothic";
}
.topmenu {
	background:#693f33;
	padding:5px 0px;
	color:#f2dcb7;
	border-top:solid 2px #ffb526;
	height:auto;
}
.topmenu a {
	color:#FFF;
}
.toplogo {
	/*background:#f2dcb7;
	border-bottom:solid 2px #e58a48;*/
}
.link a {
	color:#000;
}
.hotline {
	text-align:right;
	position:absolute;
	right:15px;
	line-height:15px;
	margin-top:10px;
}
.hotline-xs {
	text-align:right;
	line-height:15px;
	position:relative;
	top:30px;
}
.banner {
	background:#FFF; 
	padding:10px; 
	border:solid 1px #dbd2c9;
	border-top:none;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.content {
	background:#FFF;
	border:solid 1px #dbd2c9;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-top:10px;
	padding:10px;
}
.content a {
	color:#693f33;
}
.btnresv {
	background:url(img/reservation.png);
	width:85px;
	height:16px;
	font-size:12px;
}

.top-right {
	background:#ed9c28;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding:5px 10px;
	color:#FFF;
}
.body-right {
	background:#693f33;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	padding:10px 10px;
	color:#FFF;
}
.body-right ul {
	margin:0px;
}
.body-right li {
	list-style:none;
	border-bottom:dotted 1px #856258;
	padding:3px 0px;
}
.body-right a{
	color:#F90;
}
.top-left {
	background:#ed9c28;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding:5px 10px;
	color:#FFF;
}
.body-left {
	border:solid 1px #ed9c28;
	border-top:none;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	padding:10px 10px;
	color:#FFF;
	margin-bottom:10px;
}
.body-left ul {
	margin:0px;
}
.body-left li {
	list-style:none;
	border-bottom:dotted 1px #856258;
	padding:3px 0px;
}
.body-left a{
	color:#693f33;
}
.top-brown {
	background:#ed9c28;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding:5px 10px;
	color:#FFF;
}
.body-brown {
	background:#d2bc98;
	border-top:none;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	padding:10px 10px;
	color:#000;
	margin-bottom:10px;
}
.body-brown ul {
	margin:0px;
}
.body-brown li {
	list-style:none;
	padding:3px 0px;
}
.body-brown a{
	color:#000;
}
.business {
	background:#FFF;
	padding:2px 10px;
}
.top-special {
	color:#F90;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:0px;
	font-size:24px;
	font-weight:bold;
}
.body-special {
	padding:10px 0px;
}
.today-special {
	top:160px; 
	background:#F90; 
	-webkit-border-top-right-radius: 10px; 
	-webkit-border-bottom-right-radius: 10px; 
	-moz-border-radius-topright: 10px; 
	-moz-border-radius-bottomright: 10px; 
	border-top-right-radius: 10px; 
	border-bottom-right-radius: 10px; 
	padding:5px 20px 5px 10px; 
	color:#FFF;
}
.today-special a{
	margin:0px;
	color:#FFF;
	font-weight:bold;
	font-size:12px;
}
.left {
	text-align:left;
}
.right {
	text-align:right;
}
.form-inline {
	text-align:right;
}
/*.form-inline [type=email],[type=password]{
	height:22px;
}*/
.form-inline [id=search]{
	height:22px;
}
.navigator {
	background:#693f33;
	height:40px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	position:relative;
	top:51px;
}
.navbar {
	margin:0px;
	padding:0px;
	background:#693f33;
	color:#FFF;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.navbar-collapse li{
	border-bottom:dotted 1px #856258;
	color:#FFF;
}
.navbar-collapse li:hover {
	background:#F90;
	color:#FFF;
}
.footer {
	background:#693f33;
	border-top:solid 3px #ffb526;
	color:#FFF;
	margin-top:10px;
}
.footer ul {
	margin:0px 0px 20px 0px;
	padding:0px;
}
.footer li {
	list-style:none;
	border-bottom:dotted 1px #856258;
	padding:3px 0px;
}
.footer a {
	color:#F90;
}
.sideleft ul {
	margin:0px 0px 10px 0px;
	padding:0px;
}
.sideleft li {
	list-style:none;
	border-bottom:dotted 1px #CCC;
	padding:5px 10px;
}
.sideleft li:hover {
	background:#F5F5F5;
	cursor:pointer;
}
.sideleft a {
	color:#cf6f20;
	font-weight:bold;
}
.tabbable a {
	color:#F90;
}
.ourmenu {
	margin-bottom:20px;
	height:280px;
	/*border-left:solid #FFF 1px;
	border-right:solid #FFF 1px;*/
}
/*.ourmenu:hover {
	background:#F8F8F8;
	border-left:dotted #CCC 1px;
	border-right:dotted #CCC 1px;
}*/
.ourmenu h3 {
	font-size:14px;
	font-weight:bold;
	margin:10px 0px 0px 0px;
	color:#693f33;
}
.price {
	color:#F90;
	font-weight:bold;
	font-size:14px;
}
.ourmenu small{
	color:#999;
}
.hometitle h2{
	font-size:28px; 
	color:#e13c35; 
	font-weight:bold;
	margin:5px 0px 0px 0px;
}
.homecont {
	margin:5px 0px; 
	padding-bottom:10px; 
	border-bottom:dotted 1px #CCC;
	line-height:normal;
}
.form-group {
	margin:0px;
	margin-bottom:10px;
}
.page-header {
	margin:0px;
	padding:0px;
	margin-bottom:10px;
	padding-bottom:10px;
}
.page-header h2{
	margin:0px;
	color:#693f33;
}
.tab-pane {
	margin-top:10px;
}
.pagination {
	margin:5px 0px;
}
.promo-latest {
	margin-top:10px;
}
.media {
	float:left;
}
.table {
	font-size:14px;
}
.tripadvisor {
	border:solid 1px #589442;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:5px;
}
.uparrow {
    background: url('./img/uparrow.png');
    cursor: pointer;
    width: 36px;
    height: 36px;
    position: fixed;
    bottom: 30px;
    right:30px;
    display:none;
}
.form-mnl {
	margin-bottom:10px;
}
.btnfind {
	margin-bottom:4px;
}
.pointer{
	cursor:pointer;
}
.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('img/page-loader.gif') 50% 50% no-repeat rgb(249,249,249);
}
.list-video {
	margin-bottom:10px;
}
.list-video:hover {
	background:#DFDFDF;
}
	