/* Filterable Portfolio Stylesheet */
/* Simple Reset
------------------------------------------------------------ */
ul li { list-style: none; }

#wrap { margin: 0 auto; padding: 1.5em 20px 0.5em 20px; overflow: hidden; background-color: #fff; border: 1px solid #ddd; -moz-box-shadow: 0 0 5px #ddd; -webkit-box-shadow: 0 0 5px #ddd; box-shadow: 0 0 5px #ddd; }
#wrap h2 { margin:0px; }
.demo-top { margin-bottom: 0.35714em; padding-bottom: 0.5em; border-bottom: 3px solid #000; }
.credits { font-family: 'Quattrocento', serif; font-size: 1.28571em; line-height: 1.16667em; text-align: center; color: #444; margin-bottom: 2.66667em; }
.back-to-post { border-top: 1px solid #000; margin-bottom: 3em; }


/* Filter */
dl { margin-bottom: 3em; color: #777; }
dt, dd { float: left; }
dt { margin-right: 5px; }
.filter li { float: left; }
.filter li:after { content: "/"; }
.filter li:last-child:after { content: ""; }
.filter a { padding: 0 10px; color: #777; text-decoration: none; }
.filter a:hover, .current a { color: #4f0d4d; }

@media (min-width: 1200px) {
	/* Portfolio Items */
	.portfolio li { float: left; margin-right: 10px; margin-bottom: 1em; /*border: 1px solid #ccc;*/  }
	.portfolio li:nth-child(4n) { margin-right: 0; }
	/*.portfolio a { display: block; border: 3px solid #fff;  text-decoration: none; }*/
	.portfolio img { width: 188px; height: 120px; display: block; border: 1px solid #ccc; }
}
@media (min-width: 992px) and (max-width: 1199px) {
	/* Portfolio Items */
	.portfolio li { float: left; margin-right: 10px; margin-bottom: 1em; /*border: 1px solid #ccc;*/  }
	.portfolio li:nth-child(3n) { margin-right: 0; }
	/*.portfolio a { display: block; border: 3px solid #fff;  text-decoration: none; }*/
	.portfolio img { width: 188px; height: 120px; display: block; border: 1px solid #ccc; }
}
@media (min-width: 768px) and (max-width: 991px) {
	/* Portfolio Items */
	.portfolio li { float: left; margin-right: 10px; margin-bottom: 1em; /*border: 1px solid #ccc;*/  }
	.portfolio li:nth-child(3n) { margin-right: 0; }
	/*.portfolio a { display: block; border: 3px solid #fff;  text-decoration: none; }*/
	.portfolio img { width: 188px; height: 120px; display: block; border: 1px solid #ccc; }
}
@media (max-width: 767px) {
	/* Portfolio Items */
	.portfolio li { float: left; margin-right: 10px; margin-bottom: 1em; /*border: 1px solid #ccc;*/  }
	.portfolio li:nth-child(2n) { margin-right: 0; }
	/*.portfolio a { display: block; border: 3px solid #fff;  text-decoration: none; }*/
	.portfolio img { width: 188px; height: 120px; display: block; border: 1px solid #ccc; }
}