@charset "utf-8";
/* CSS Document */

#demo-wrapper
{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	padding: 40px 20px 0px 20px;
}
#demo-left
{
	width: 15%;
	float: left;
}
#demo-right
{
	width: 85%;
	float: left;
}
#hWrapperAuto
{
	margin-top: 20px;
}
#demo-tabs
{
	width: 100%;
	height: 50px;
	color: White;
	margin: 0;
	padding: 0;
}
#demo-tabs div.item
{
	height: 35px;
	float: left;
	background-color: #2F2F2F;
	border: solid 1px gray;
	border-bottom: none;
	padding: 0;
	margin: 0;
	margin-left: 10px;
	text-align: center;
	padding: 10px 4px 4px 4px;
	font-weight: bold;
}
#contents
{
	width: 100%;
	margin: 0;
	padding: 0;
	color: White;
	font: arial;
	font-size: 11pt;
}
#demo-tabs div.item.active-tab
{
	background-color: Black;
}
#demo-tabs div.item.active-tabc
{
	background-color: Black;
}
#v1, #v2
{
	margin: 20px;
}
.visible
{
	display: block;
}
.hidden
{
	display: none;
}
#oldWrapper
{
	margin-left: 100px;
}
#contents a
{
	color: yellow;
}
#contents a:hover
{
	text-decoration: none;
	color: Gray;
}
.heading
{
	font-size: 20pt;
	font-weight: bold;
}